.background-image {
    background-image: url('https://i.imgur.com/xhiRfL6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-signin {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .profile-img-card {
    border: 5px solid #fff;
    padding: 5px;
    background-color: #f8f9fa;
  }
  