/* General styles */
body {
  background-color: #0e192a;
  color: #f5f5f5;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Hero header */
.hero-header {
  background-color: #0e192a;
  padding: 60px 0;
  text-align: center;
}

.hero-header h1 {
  color: #ffcc00;
}

/* Search bar */
.searchbar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search_input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1e2a3a;
  color: #f5f5f5;
}

.search_icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search_icon i {
  color: #ffcc00;
}

/* Product section */
.product-section {
  background-color: #0e192a;
  padding: 20px 0;
}

.section-title {
  color: #2035d2;
  margin-bottom: 20px;
  text-align: center;
}

.product-card {
  background-color: #1e2a3a;
  border: 1px solid #2317cb;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-info h5 {
  color: #1c9bc9;
  margin-bottom: 10px;
}

.product-info p {
  color: #18a313;
}

/* Product actions */
.product-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.add-to-cart-icon,
.quick-view-icon {
  background-color: #1db4e2;
  color: #0e192a;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart-icon:hover,
.quick-view-icon:hover {
  background-color: #d4a600; /* Darker yellow for hover effect */
  color: #0e192a;
}

/* Modal styles */
.modal-content {
  background-color: #1e2a3a;
  border: 1px solid #ffcc00;
}

.modal-header,
.modal-footer {
  border-color: #ffcc00;
}

.modal-title {
  color: #ffcc00;
}

.modal-body p,
.modal-body h4,
.modal-body .h5 {
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .search_input {
    width: 100%;
  }
}

.product-actions .fa-shopping-cart, 
.product-actions .fa-eye {
  cursor: pointer;
  margin: 0 10px;
  color: #6FFFE9;
}

.product-actions .fa-shopping-cart:hover,
.product-actions .fa-eye:hover {
  color: #ff6f61; /* Change to any hover color you prefer */
}

