/* BookingList.css */
.booking-list-container {
    background-color: #d9dddf;
    color: #080d0c;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .booking-list-container h2 {
    color: #050808;
    margin-bottom: 20px;
  }
  
  .booking-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f3f6f8;
  }
  
  .booking-table thead {
    background-color: #e0d5d5;
  }
  
  .booking-table th,
  .booking-table td {
    padding: 10px;
    border: 1px solid #004d5a;
    color: #000706;
  }
  
  .booking-table th {
    text-align: left;
  }
  
  .booking-table tr:nth-child(even) {
    background-color: #002836;
  }
  
  @media (max-width: 768px) {
    .booking-table th,
    .booking-table td {
      display: block;
      text-align: right;
    }
  
    .booking-table th::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  
    .booking-table th,
    .booking-table td {
      padding: 8px;
      border: none;
    }
  
    .booking-table td {
      border-bottom: 1px solid #004d5a;
    }
  
    .booking-table tr {
      margin-bottom: 10px;
      display: block;
    }
  }
  